name: CI - Tag
on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    if: contains(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Publish
        uses: eskatos/gradle-command-action@v1.3.2
        env:
          GITHUB_USERNAME: raynigon
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_KEY_PASSPHRASE }}
        with:
          arguments: publish -x test
      - name: Update Mkdocs Config
        uses: eskatos/gradle-command-action@v1.3.2
        with:
          arguments: updateMkdocsConfig
      - name: Commit mkdocs.yml
        uses: EndBug/add-and-commit@v4
        with:
          add: 'mkdocs.yml'
          author_name: Github Actions
          author_email: 10846939+raynigon@users.noreply.github.com
          message: 'Update Readme due to Release'
          ref: 'released'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
      - name: Copy Assets
        run: |
          mkdir -p build/jars/
          cp jackson-module/build/libs/*.jar build/jars/
          cp jackson-starter/build/libs/*.jar build/jars/
          cp jpa-starter/build/libs/*.jar build/jars/
          cp springdoc-starter/build/libs/*.jar build/jars/
          cp unit-api-core/build/libs/*.jar build/jars/
          cp unit-api-kotlin/build/libs/*.jar build/jars/
      - name: Github Release
        uses: softprops/action-gh-release@v0.1.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          prerelease: true
          files: build/jars/*.jar
